# Bag of words

Bag of Words  is a method of vectorizing text data.

It is a simple method that counts the number of times a word appears in a document.

It is a good method for text data that is not too large.

In [6]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
data = [
    " Most shark attacks occur about 10 feet from the beach since that is where the people are",
    "the efficiency with which he paired the socks in the drawer was quite admirable",
    "carol drank the blood as if she were a vampire",
    "giving directions that the mountains are to the west only works when you can see them",
    "the sign said there was road work ahead so he decided to speed up",
    "the gruff old man sat in the back of the bait shop grumbling to himself as he scooped out a handful of worms",
]

In [8]:
vectorizer=CountVectorizer()

In [9]:
converter_fit=vectorizer.fit_transform(data)

In [11]:
bag_of_words = pd.DataFrame(
    converter_fit.toarray(), # type: ignore
    columns=vectorizer.get_feature_names_out(),
)
bag_of_words

,10,about,admirable,ahead,are,as,attacks,back,bait,beach,...,were,west,when,where,which,with,work,works,worms,you
0,1,1,0,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0