# TF-IDF

TF-IDF is a method of vectorizing text data.

It is a good method for text data that is not too large.

TF is the term frequency of a word in a document.

IDF is the inverse document frequency of a word in the corpus.

TF-IDF is better than Bag of Words because it is a more accurate method of vectorizing text data.

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [39]:
data=[
    " Most shark attacks occur about 10 feet from the beach since that is where the people are",
    "the efficiency with which he paired the socks in the drawer was quite admirable",
    "carol drank the blood as if she were a vampire",
    "giving directions that the mountains are to the west only works when you can see them",
    "the sign said there was road work ahead so he decided to speed up",
    "the gruff old man sat in the back of the bait shop grumbling to himself as he scooped out a handful of worms",
]

In [40]:
vectorizer=TfidfVectorizer()

In [41]:
data_tfidf=vectorizer.fit_transform(data)

In [42]:
pd_data=pd.DataFrame(
  data_tfidf.toarray(), # type: ignore
  columns=vectorizer.get_feature_names_out(),
)
pd_data

,10,about,admirable,ahead,are,as,attacks,back,bait,beach,...,were,west,when,where,which,with,work,works,worms,you
0,0.257061,0.257061,0.000000,0.000000,0.210794,0.000000,0.257061,0.00000,0.00000,0.257061,...,0.000000,0.00000,0.00000,0.257061,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
1,0.000000,0.000000,0.293641,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.293641,0.293641,0.000000,0.00000,0.00000,0.00000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.292313,0.000000,0.00000,0.00000,0.000000,...,0.356474,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
3,0.000000,0.000000,0.000000,0.000000,0.222257,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.27104,0.27104,0.000000,0.000000,0.000000,0.000000,0.27104,0.00000,0.27104
4,0.000000,0.000000,0.000000,0.290766,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.290766,0.00000,0.00000,0.00000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.178615,0.000000,0.21782,0.21782,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.21782,0.00000

every word in the document is a column in the dataframe.

the value of the word in the document is the tf-idf value of the word in the document,

which means that the word that has the highest tf-idf value in the document is the most important word in the document.